extends layout

block content
  h2 Book List

  .controls
    button(onclick="showAddDialog()") ➕ Add Book
    label
      input#filterAvailable(type="checkbox")
      |  Available Only
    label
      |  Filter by Date (return by):
      input#filterDate(type="date")
    button(onclick="filterBooks()") Apply Filter
    button(onclick="resetFilters()") Reset

  table#booksTable
    thead
      tr
        th Title
        th Author
        th Year
        th.sortable(onclick="sortByStatus()") Status ⬍
        th.sortable(onclick="sortByDueDate()") Due Date ⬍
        th Actions
    tbody

  // Add Book Modal Dialog
  dialog#addDialog
    form(method="dialog")
      h3 Add Book
      label Title:
      input(type="text" id="titleInput" required)
      label Author:
      input(type="text" id="authorInput" required)
      label Year:
      input(type="number" id="yearInput" required min="1")
      .buttons
        button(type="button" onclick="addBook()") Add
        button(type="submit") Cancel

  script(src="/js/main.js")