doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Home Library
    link(rel="stylesheet", href="/css/style.css")
    // Font Awesome CDN (if needed)
    script(src="https://kit.fontawesome.com/a076d05399.js", crossorigin="anonymous")
  body
    header
      .container
        h1 Home Library
        nav
          a(href="/") Book List
    main.container
      block content
    footer.container