extends layout

block content
  h1.mb-4 Друзья пользователя
  
  .mb-3
    label.form-label(for="userSelect") Выберите пользователя:
    select.form-select#userSelect
      option(value="") Загрузка...
  
  #friendsList.row
    //- Друзья загружаются через JS

block scripts
  script(src="/js/friends.js")

