[submodule "PA/lb1/ut/googletest"]
	path = PA/lb1/ut/googletest
	url = https://github.com/google/googletest.git
[submodule "PA/lb1/fmt"]
	path = PA/lb1/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "PA/lb1/benchmark"]
	path = PA/lb1/benchmark
	url = https://github.com/google/benchmark.git
