[submodule "PA/Maltsev_Kirill_lb1/benchmark/benchmark"]
	path = PA/Maltsev_Kirill_lb1/benchmark/benchmark
	url = https://github.com/google/benchmark.git
[submodule "PA/Maltsev_Kirill_lb1/ut/googletest"]
	path = PA/Maltsev_Kirill_lb1/ut/googletest
	url = https://github.com/google/googletest.git
[submodule "PA/Maltsev_Kirill_lb3/parallel_merge_sort/benchmark/benchmark"]
	path = PA/Maltsev_Kirill_lb3/parallel_merge_sort/benchmark/benchmark
	url = https://github.com/google/benchmark.git
[submodule "PA/Maltsev_Kirill_lb3/parallel_strassen/benchmark/benchmark"]
	path = PA/Maltsev_Kirill_lb3/parallel_strassen/benchmark/benchmark
	url = https://github.com/google/benchmark.git
[submodule "PA/Maltsev_Kirill_lb3/parallel_strassen/ut/googletest"]
	path = PA/Maltsev_Kirill_lb3/parallel_strassen/ut/googletest
	url = https://github.com/google/googletest.git
[submodule "PA/Maltsev_Kirill_lb3/parallel_merge_sort/ut/googletest"]
	path = PA/Maltsev_Kirill_lb3/parallel_merge_sort/ut/googletest
	url = https://github.com/google/googletest.git
